<div class="maGong" data-title="" data-time="1583055603">
    <div style="width:990px;height:924px;margin:0 auto;" class="user_FE28">
        <style>.user_FE28 a {
            text-decoration: none;
            outline: none;
        }

        .user_FE28 a img {
            border: 0px;
        }

        .user_FE28 ul {
            list-style: none !important;
            padding: 0 !important;
        }

        .user_FE28 ul li {
            width: 938px;
            height: 356px;
            border: 3px solid #E5E5E5;
            margin-bottom: 20px;
            background: #fff;
        }

        .user_FE28 ul li a.mg-img {
            float: left;
            width: 400px;
            height: 330px;
            margin-top: 13px;
            margin-left: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            overflow: hidden;
        }

        .user_FE28 ul li a.mg-img::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 100%;
            top: 0;
            left: -286px;
            overflow: hidden;
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(255, 255, 255, 0)));
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
            background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
            -webkit-transform: skewX(-25deg);
            -moz-transform: skewX(-25deg);
        }

        .user_FE28 ul li:hover a.mg-img::after {
            left: 150%;
            transition: left 1s ease 0s;
        }

        .user_FE28 ul li .mg-prd {
            width: 488px;
            height: 100%;
            margin-left: 436px;
            padding-right: 22px;
        }

        .user_FE28 ul li .mg-prd .mg-title {
            color: #000;
            height: 69px;
            line-height: 69px;
            overflow: hidden;
            margin-left: 38px;
            margin-right: 10px;
            font-size: 20px;
            border-bottom: 1px dashed #E4E4E4;
        }

        .user_FE28 ul li .mg-prd .mg-tips {
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            font-size: 14px;
            color: #9A9A9B;
            margin-bottom: 40px;
            padding-left: 38px;
        }

        .user_FE28 ul li .mg-prd .mg-sales {
            height: 60px;
            line-height: 60px;
            overflow: hidden;
            color: #666566;
            font-size: 14px;
            padding-left: 38px;
        }

        .user_FE28 ul li .mg-prd .mg-sales span {
            color: #F83058;
            margin: 0 3px;
        }

        .user_FE28 ul li .mg-prd .mg-price-btn {
            width: 490px;
            height: 66px;
            background: #F72862;
        }

        .user_FE28 ul li .mg-prd .mg-price-btn .mg-triangle {
            float: right;
            width: 0px;
            height: 0px;
            display: block;
            border-right: 13px solid #fff;
            border-top: 33px solid transparent;
            border-bottom: 33px solid transparent;
        }

        .user_FE28 ul li .mg-prd .mg-price-btn .mg-btn {
            float: right;
            display: block;
            width: 126px;
            height: 38px;
            background: #FDE462;
            color: #EC0142;
            text-align: center;
            line-height: 38px;
            font-size: 18px;
            margin-right: 25px;
            margin-left: 16px;
            margin-top: 14px;
            border-radius: 3px;
            font-weight: bold;
        }

        .user_FE28 ul li .mg-prd .mg-price-btn .mg-line {
            display: block;
            width: 1px;
            height: 58px;
            border-right: 2px dotted #EC0142;
            float: right;
            margin-top: 4px;
        }

        .user_FE28 ul li .mg-prd .mg-price-btn .mg-price {
            width: 257px;
            height: 66px;
            line-height: 66px;
            padding-left: 38px;
            font-weight: bold;
            color: #fff;
            font-size: 30px;
            overflow: hidden;
        }

        .user_FE28 ul li .mg-prd .mg-price-btn .mg-price span {
            font-size: 22px
        }

        .user_FE28 ul li .mg-prd .mg-price-btn .mg-price s {
            font-size: 12px;
            font-weight: normal;
            margin-left: 5px;
        }

        .user_FE28 ul li .mg-prd .mg-icon {
            display: inline-block;
            _zoom: 1;
            *display: block;
            height: 30px;
            line-height: 30px;
            color: #666566;
            margin-right: 5px;
            vertical-align: bottom;
        }

        .user_FE28 ul li .mg-prd .mg-icon i {
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            margin-top: 4px;
            margin-right: 3px;
            background-image: url(87300030ebaaea91f81c410cebbc2be.png);
            background-color: #AAA6A1;
            background-repeat: no-repeat;
        }

        .user_FE28 .iconQrCode {
            cursor: pointer;
            position: relative;
        }

        .user_FE28 .outer_jQrCode {
            top: -92px;
            left: -15px;
            display: none;
        }

        .user_FE28 .qrPic {
            width: 70px;
            height: 70px;
            background: #fff;
            display: block;
            box-shadow: 0 0 10px #666;
            padding: 10px;
        }

        .user_FE28 .iconQrCode:hover .outer_jQrCode {
            display: block;
        }

        .user_FE28 .btn-coll {
            width: auto;
            background: none;
            display: inline-block;
            *zoom: 1;
            *display: inline;
            line-height: 12px;
            height: auto;
            cursor: pointer；height: 30px;
            line-height: 30px;
            color: #666566;
            margin-right: 5px;
        }

        .user_FE28 .cart {
            width: auto;
            background: none;
            display: inline-block;
            *zoom: 1;
            *display: inline;
            height: 30px;
            line-height: 30px;
            color: #666566;
            margin-right: 5px;
        }</style>
        <div style="margin-left:-465px;top:auto;line-height:1;width:1920px;height:auto;/*background:#EA2550;*/text-align:left;font-family:arial;position:absolute;"
             class="j-module" module-function="createQrCode" module-param="{}">
            <div style="width:1200px;height:160px;background:url(index/img/59c8e01dNe201755f.png) no-repeat center center;margin:0 auto;overflow:hidden;text-align:center;">
                <h2 style="font-size:40px;color:#e2231a;padding-top:45px;">畅销热卖</h2>
                <h3 style="font-size:18px;color:#e2231a;font-weight:normal;padding-top:5px;">相信大家的选择</h3></div>
            <ul style="width:944px;height:auto;margin:0 auto;overflow:hidden;">
                <li class="mg-item"><a class="mg-img" href="#" target="_blank"
                                       style="background-image:url(http://192.168.99.100:8888/group1/M00/00/00/wKhjZF6hHiKAeXDCAADE9gpZr8g003.jpg); height: 300px;weight:300px;"></a>
                    <div class="mg-prd"><p class="mg-title">男子篮球鞋 LeBron XVII PRM EP 显示颜色： 赛车蓝/黑/白色 款式： CT3465-400</p>
                        <p class="mg-tips"></p>
                        <div class="mg-sales">已售<span>0</span>件</div>
                        <div class="mg-price-btn"><b class="mg-triangle"></b><a class="mg-btn"
                                                                                href="http://item.gmall.com:8093/153.html"
                                                                                target="_blank">立即闪购</a><b
                                class="mg-line"></b>
                            <div class="mg-price"><span>￥</span>519<span>.00</span><s>RMB:1299.00</s></div>
                        </div>
                        <div style="margin-top:12px;margin-left:38px;"><a class="btn-coll collection mg-icon"
                                                                          id="coll60297572765" title="关注"><i
                                style="background-position:-11px -11px;"></i>关注</a><a class="cart mg-icon"
                                                                                      href="#"
                                                                                      target="_blank" title="加入购物车"
                                                                                      target="_blank"><i
                                style="background-position:-69px -11px;"></i>收藏</a><a class="mg-icon"
                                                                                      href="#"
                                                                                      target="_blank"><i
                                style="background-position:-127px -11px;"></i>购买</a><span class="mg-icon iconQrCode"><i
                                style="background-position:-185px -11px;"></i>二维码<div class="outer_jQrCode"
                                                                                      style="position:absolute;text-align:center;"><div
                                class="jQrCode" qrhref="#"><a class="qrPic"
                                                                                                 style="display:block;"></a></div></div></span>
                        </div>
                    </div>
                </li>
                <li class="mg-item"><a class="mg-img" href="#" target="_blank"
                                       style="background-image:url(http://192.168.99.100:8888/group1/M00/00/00/wKhjZF6hHaGASK0cAAErP2LxToY960.jpg);"></a>
                    <div class="mg-prd"><p class="mg-title">男子篮球鞋 Jordan Why Not Zer0.3 PF 显示颜色： 白色/冷灰/狼灰/白色 款式： CD3002-100</p>
                        <p class="mg-tips"></p>
                        <div class="mg-sales">已售<span>0</span>件</div>
                        <div class="mg-price-btn"><b class="mg-triangle"></b><a class="mg-btn"
                                                                                href="http://item.gmall.com:8093/148.html"
                                                                                target="_blank">立即闪购</a><b
                                class="mg-line"></b>
                            <div class="mg-price"><span>￥</span>9785<span>.00</span><s>RMB:9785.00</s></div>
                        </div>
                        <div style="margin-top:12px;margin-left:38px;"><a class="btn-coll collection mg-icon"
                                                                          id="coll59461232132" title="关注"><i
                                style="background-position:-11px -11px;"></i>关注</a><a class="cart mg-icon"
                                                                                      href="#"
                                                                                      target="_blank" title="加入购物车"
                                                                                      target="_blank"><i
                                style="background-position:-69px -11px;"></i>收藏</a><a class="mg-icon"
                                                                                      href="#"
                                                                                      target="_blank"><i
                                style="background-position:-127px -11px;"></i>购买</a><span class="mg-icon iconQrCode"><i
                                style="background-position:-185px -11px;"></i>二维码<div class="outer_jQrCode"
                                                                                      style="position:absolute;text-align:center;"><div
                                class="jQrCode" qrhref="#"><a class="qrPic" style="display:block;"></a></div></div></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>