<div class="maGong" data-title="" data-time="1583056531">
    <div class="user_XF53" style="width:990px;height:520px;margin:0 auto;">
        <style>.user_XF53 a {
            text-decoration: none;
            outline: none;
        }

        .user_XF53 a img {
            border: 0px;
        }

        .user_XF53 ul {
            list-style: none !important;
        }

        .user_XF53 ul a.img {
            display: block;
            outline: none;
            overflow: hidden;
            display: block;
            z-index: 1;
            position: relative;
        }

        .user_XF53 ul a img {
            width: 100%;
            border: none;
            webkit-transition: All 0.3s ease-in-out;
            -moz-transition: All 0.3s ease-in-out;
            -ms-transition: All 0.3s ease-in-out;
            transition: All 0.3s ease-in-out;
        }

        .user_XF53 ul li:hover a.img img {
            transform: scale(1.2);
        }</style>
        <div style="margin-left:-465px;top:auto;padding:0;width:1920px;height:520px;/*background-color:#ED2F55;*/;border:none;line-height:1;position:absolute;text-align:center;">
            <div style="width:1199px;margin:0 auto;padding-top:23px;text-align:center;line-height:1.3;">
                <div style="height:107px;background:none;margin-bottom:12px;"><h2
                        style="color:#FF0000;font-size:34px;padding-top:15px;font-weight:normal;margin-bottom:12px;"><b>BEST
                    SELLING</b>&nbsp;热卖单品</h2>
                    <div style="border-top:1px solid #FF0000;position:relative;"></div>
                    <div style="border-top:3px solid #FF0000;width:206px;margin:0 auto;position:relative;top:-2px;"></div>
                </div>
                <ul style="overflow:hidden;">
                    <li style="float:left;width:597px;height:390px;margin-right:5px;margin-bottom:5px;background:#fff;">
                        <a href="" target="_blank"
                           style="outline:none;display:block;width:597px;height:390px;overflow:hidden;"><img
                                src="index/img/8ab3dc75d3f3adceca76f0ed245b11d.png"
                                style="border:0px;"/></a></li>
                    <li class="ds51XF0-li"
                        style="float:left;width:296px;height:390px;margin-right:5px;margin-bottom:5px;background:#fff;">
                        <a class="img ds51XF0" href="" target="_blank"
                           style="outline:none;display:block;width:296px;height:296px;overflow:hidden;"><img
                                src="index/img/48144efdd0716351.jpg"
                                style="border:0px;width:296px;"/></a><a href=""
                                                                        target="_blank"
                                                                        style="display:block;text-decoration:none;color:#000;height:30px;line-height:15px;overflow:hidden;padding:0 5px;font-size:14px;padding-top:8px;">耐克（NIKE）20春夏男士Kyrie5ConceptsTVPE3运动鞋CI...裸色US10</a>
                        <div style="font-size:14px;color:#F5325A;text-align:left;padding:0 5px;height:40px;line-height:40px;overflow:hidden;margin-top:11px;">
                            <span style="font-size:12px;">￥</span>9785.00<a href=""
                                                                            target="_blank"
                                                                            style="float:right;width:80px;height:40px;text-align:center;background:#F5325A;color:#fff;">立即抢购</a>
                        </div>
                    </li>
                    <li class="ds51XF1-li"
                        style="float:left;width:296px;height:390px;margin-bottom:5px;background:#fff;"><a
                            class="img ds51XF1" href="" target="_blank"
                            style="outline:none;display:block;width:296px;height:296px;overflow:hidden;"><img
                            src="index/img/48144efdd0716351.jpg"
                            style="border:0px;width:296px;"/></a><a href=""
                                                                    target="_blank"
                                                                    style="display:block;text-decoration:none;color:#000;height:30px;line-height:15px;overflow:hidden;padding:0 5px;font-size:14px;padding-top:8px;">耐克（NIKE）20春夏男士Kyrie5ConceptsTVPE3运动鞋CI...裸色US10</a>
                        <div style="font-size:14px;color:#F5325A;text-align:left;padding:0 5px;height:40px;line-height:40px;overflow:hidden;margin-top:11px;">
                            <span style="font-size:12px;">￥</span>9785.00<a href=""
                                                                            target="_blank"
                                                                            style="float:right;width:80px;height:40px;text-align:center;background:#F5325A;color:#fff;">立即抢购</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>