<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slide.css"/>
    <link rel="stylesheet" type="text/css" href="/css/goods_list.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sec_kill.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>

    <link rel="stylesheet" type="text/css" href="/css/slide.css"/>

    <title>购物</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="copyright" content=""/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/kuCity.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlider.js"></script>

    <script type="text/javascript" src="/js/slide.js"></script>

</head>

<body>
<div class="site-nav" id="site-nav">
    <div class="w w1200">
        <div class="fl">
            <div class="city-choice" id="city-choice" data-ectype="dorpdown">
                <div class="dsc-choie dsc-cm" ectype="dsc-choie">
                    <img src="/images/place.png" class="place"/>
                    <input type="text" value="石家庄" class="search"/>
                </div>

            </div>
            <!-- <span  th:text="${#httpServletRequest.getAttribute('memberId')}"><<<&#45;&#45;&#45;&#45;&#45;&#45;</span>-->
            <!--<input th:text="${session.memberId}" type="hidden"></div>-->
            <div class="txt-info" th:if="${#httpServletRequest.getAttribute('memberId')}==null">
                <a href="http://passport.gmall.com:8096/index" class="link-login red">请登录</a>
                <a href="http://passport.gmall.com:8096/toregister" class="link-regist">免费注册</a>
            </div>
            <div class="txt-info" th:if="${#httpServletRequest.getAttribute('memberId')}!=null">
                <a href="" class="link-login red" th:text="'欢迎,'+${#httpServletRequest.getAttribute('nickname')}"></a>
                <a href="http://user.gmall.com:8091/userInfo" class="link-regist">我的账号</a>
            </div>
        </div>
        <ul class="quick-menu fr">
            <li>
                <div class="dt">
                    <a href="http://order.gmall.com:8097/orderList">我的订单</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li>
                <div class="dt">
                    <a href="#">我的浏览</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li>
                <div class="dt">
                    <a href="#">我的收藏</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li>
                <div class="dt">
                    <a href="#">客户服务</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="li_dorpdown" data-ectype="dorpdown">
                <div class="dt dsc-cm">网站导航</div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="header">
    <div class="header_container">
        <div class="logo fl">
            <a href="http://search.gmall.com:8094/index"><img src="/images/logo1.png"/></a>
            <a href="http://search.gmall.com:8094/index"><img src="/images/ecsc-join.gif"/></a>
        </div>
        <div class="dsc-search">
            <div class="form">
                <form class="search-form">
                    <input name="keywords" type="text" id="searchText" value="" class="search-text"
                           style="color: rgb(153, 153, 153);height: 14px;">
                    <button type="submit" class="button button-goods" onclick="search()">搜商品</button>
                    <button type="submit" class="button button-store" onclick="search()">搜店铺</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="nav" ectype="dscNav">
    <div class="w w1200">
        <div class="categorys site_mast ">
            <!--<div class="categorys-type" style="background: white">
                <a href="#" target="_blank">全部商品分类</a>
                <a href="http://seckill.gmall.com:8099/item/index"><img src="http://seckill.gmall.com:8099/images/skmu-nav.png" /></a>
            </div>-->
            <div class="categorys" style="text-align: center;margin-top: 7px;">
                <a href="http://seckill.gmall.com:8099/item/index"><img src="http://seckill.gmall.com:8099/images/skmu-nav.png" /></a>
            </div>
        </div>
        <!--<div class="categorys" style="text-align: center;margin-top: 7px;">
            <a href="http://seckill.gmall.com:8099/item/index"><img src="../images/skmu-nav.png" /></a>
        </div>-->
        <div class="nav-main" id="nav">
            <ul class="navitems">
                <li>
                    <a href="http://search.gmall.com:8094/index">首页</a>
                </li>
                <!--闪购 秒杀   男鞋 女鞋 潮鞋 定制               联名   系列    男童鞋  女童鞋-->
                <li>
                    <a href="javascript:void(0)">闪购</a>
                </li>
                <li>
                    <a href="http://seckill.gmall.com:8099/item/index">秒杀</a>
                </li>
                <li>
                    <a href="#">男鞋</a>
                </li>
                <li>
                    <a href="javascript:void(0)">女鞋</a>
                </li>
                <li>
                    <a href="javascript:void(0)">潮鞋</a>
                </li>
                <li>
                    <a href="javascript:void(0)">定制</a>
                </li>
                <li>
                    <a href="javascript:void(0)">联名</a>
                </li>
                <li>
                    <a href="javascript:void(0)">系列</a>
                </li>
                <li>
                    <a href="javascript:void(0)">男童鞋</a>
                </li>
                <li>
                    <a href="javascript:void(0)">女童鞋</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="w1200_container">
    <div style="margin-top: 20px;float: left;">
        <!--页面必要代码,img标签上请务必带上图片真实尺寸px-->
        <div id="showbox">
            <li class="goods_photo">
                <img th:src="${skuInfo?.skuDefaultImg}" src="/images/pay_list1.jpg" width="280" height="280"/>
                <!--<img src="/images/pay_list2.jpg" width="280" height="280"/>
                <img src="/images/pay_list3.jpg" width="280" height="280"/>
                <img src="/images/pay_list4.jpg" width="280" height="280"/>-->
            </li>
            <li class="goods_photo1">
                <img th:each="skuimg:${skuInfo?.skuImageList}" th:src="${skuimg?.imgUrl}" src="/images/pay_list1.jpg" width="280" height="280"/>
                <!--<img src="/images/pay_list2.jpg" width="280" height="280"/>
                <img src="/images/pay_list3.jpg" width="280" height="280"/>-->
            </li>
        </div>
        <!--展示图片盒子-->
        <div id="showsum"></div>
        <!--展示图片里边-->
        <p class="showpage">
            <a href="javascript:void(0);" id="showlast">
                < </a>
            <a href="javascript:void(0);" id="shownext"> > </a>
        </p>
    </div>
    <div class="pay_content fl" style="width: 780px;">
        <form th:action="@{/kill/execute}" method="post">
            <input id="killId" th:value="${detail.id}" th:name="killId" type="hidden"/>
            <input th:name="userId" th:value="${memberId}" type="hidden"/>
            <div class="pay_title" th:text="${skuInfo?.skuName}">超诺淋浴套装 太空铝增压花洒水龙头 三档冷热可升降喷头带下出水 拒绝生锈 十年质保 历久弥新</div>
            <div class="box-hd clearfix">
                <i class="box_hd_arrow"></i>
                <i class="box_hd_dec"><img src="/images/box_hd_arrow.png"/></i>
                <i class="box-hd-icon"></i>
                <div class="sk-time-cd" style="background-color: #f42424;">
                    <div class="cd-time fl" ectype="time" data-time="2017-12-18 10:00:00" style="width: 780px;">
                        <span class="content"
                              style="font-size: 22px;font: 22px/1.5 Microsoft YaHei,tahoma,arial,Hevetica,\\5b8b体,sans-serif;"></span>
                        <div class="botHours">00</div>
                        <span class="split">时</span>
                        <div class="botMIn">00</div>
                        <span class="split">分</span>
                        <div class="botSecond">00</div>
                        <span class="split">秒</span>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary_price_warp">
                    <div class="s_p_w_wrap">
                        <div class="summary_item si_shop_price">
                            <div class="si_tit">商 城 价</div>
                            <div class="si_warp">
                                <strong class="shop_price"
                                        th:text="'¥'+${skuInfo?.price}+'.00'"><em>¥</em>2999.00</strong>
                                <span class="price_notify" data-userid="63" data-goodsid="650"
                                      ectype="priceNotify">降价通知</span>
                            </div>
                        </div>
                        <div class="summary_item si_market_price">
                            <div class="si_tit">市 场 价</div>
                            <div class="si_warp">
                                <div class="m_price"><em>¥</em>3598.79</div>
                            </div>
                        </div>
                        <div class="si_info">
                            <div class="si_cumulative">累计评价<em>0</em></div>
                            <div class="si_cumulative">累计销量<em>0</em></div>
                        </div>
                        <div class="clear"></div>
                        <div class="summary_basic_info">
                            <div class="summary_item is_stock">
                                <div class="si_tit">配送</div>
                                <div class="si_warp">
										<span class="initial_area">
                                                                                                              上海市                                              
                                        </span>
                                    <span>至</span>
                                    <div class="city-choice" data-ectype="dorpdown">
                                        <div class="dsc-choie dsc-cm" ectype="dsc-choie">
                                            <input type="text" value="石家庄" class="search"
                                                   style="margin: 3px 0 0 0;border: none;background: #f7f8f8;width: 40px;"/>
                                        </div>
                                    </div>
                                    <div class="store_warehouse">
                                        <div class="store_prompt"><strong>有货</strong>，下单后立即发货</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="summary_item is_service">
                                <div class="si_tit">服务</div>
                                <div class="si_warp">
                                    由
                                    <a href="" class="link_red" target="_blank">本网站</a> 发货并提供售后服务
                                    <span class="gary">[ 快递：<em>¥</em>4.30 ]</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="summary_item is_integral">
                                <div class="si_tit">重量</div>
                                <div class="si_warp"><span class="integral" th:text="${skuInfo?.weight}+' kg'">0</span>
                                </div>
                            </div>
                            <div class="summary_item is_number clear">
                                <div class="si_tit">数量</div>
                                <div class="si_warp">
                                    <div class="amount_warp">
                                        <input class="text buy_num" value="1">
                                        <div class="a_btn">
                                            <a href="javascript:void(0);" class="btn_add"><i
                                                    class="iconfont icon-up">+</i></a>
                                            <a href="javascript:void(0);" class="btn_reduce btn_disabled"><i
                                                    class="iconfont icon-down">-</i></a>
                                        </div>
                                    </div>
                                    <span>库存&nbsp;<em id="goods_attr_num"
                                                      ectype="goods_attr_num">1000</em>&nbsp;个</span>
                                </div>
                            </div>
                            <div class="summary_item regular" th:each="spuSaleAttr:${spuSaleAttrListCheckBySku}">
                                <div class="si_tit" th:text="${spuSaleAttr.saleAttrName}">规格</div>
                                <div class="si_warp">
                                    <ul class="regular_list">
                                        <li class="regular_sort" th:value="${spuSaleAttr.id}"
                                            th:text="${spuSaleAttr.saleAttrValueName}">红色
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!--class="layui-btn layui-btn-normal"-->
                        <div class="choose_btns clear">
                            <a th:if="${detail.canKill}==0" href="javascript:void(0)" class="btn_buynow">商品已抢购完毕或者不在抢购时间段哦!</a>
                            <!--<a th:if="${detail.canKill}==1" href="#"
                               class="btn_append layui-btn layui-btn-danger business" data-type="auto"
                               data-method="setTop"><i class="iconfont icon_carts"><img src="/images/icon/cart1.png"
                                                                                        style="margin-top: -5px;"></i>立即秒杀</a>-->
                            <button type="submit" style="font-size: 18px;height: 40px;" class="sc_kill_btn btn" th:if="${detail.canKill}==1"> 立即秒杀</button>
                        </div>
                        <div class="summary_item is_service">
                            <div class="si_tit">温馨提示</div>
                            <div class="si_warp gray">
                                不支持退换货服务
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="clear"></div>
    <div class="enjoy_title" style="margin-top: 70px;">
        <h3>还没逛够</h3>
    </div>
    <div class="no_enough">
        <!--<ul>
            <li class="opacity_img1">
                <a href="#" target="_blank">
                    <div class="p_img">
                        <img src="/images/no_enough1.jpg" />
                    </div>
                    <div class="no_ename" title="【情侣款】Camel骆驼男靴 时尚潮流英伦风马丁靴高帮皮靴 爆卖1万双！ 情侣马丁靴 好评如潮">
                        【情侣款】Camel骆驼男靴 时尚潮流英伦风马丁靴高帮皮靴 爆卖1万双！ 情侣马丁靴 好评如潮
                    </div>
                    <div class="no_eprice">
                        <em>¥</em>555.00
                    </div>
                </a>
            </li>
        </ul>-->
        <div class="skill_warp">
            <ul class="skill_goods_list">
                <li class="mod_shodow">
                    <div class="p_img">
                        <a href="http://item.gmall.com:8093/145.html" title="女子运动鞋 Air Jordan 1 Mid 显示颜色： 白色/白色/暗白蓝 款式： BQ6472-114P">
                            <img src="http://192.168.99.100:8888/group1/M00/00/00/wKhjZF6hHQuATHbgAAC-FkT4ZyU169.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="p_name">
                        <a href="http://item.gmall.com:8093/145.html"
                           title="Air Jordan 1 Mid 集掌控全场的霸气风范、非凡舒适性及标志性外形于一体。鞋底加入 Air 缓震技术，专为硬木球场设计，加垫鞋口赋予脚踝出色支撑力。">
                            女子运动鞋 Air Jordan 1 Mid 显示颜色： 白色/白色/暗白蓝 款式： BQ6472-114P
                        </a>
                    </div>
                    <div class="p_lie clear">
                        <div class="p_price">
                            <em>￥</em>899
                        </div>
                        <div class="p_del">
                            <del>
                                <em>￥</em>999
                            </del>
                        </div>
                    </div>
                    <a class="sc_kill_btn btn" href="http://item.gmall.com:8097/toTradeNotCart?skuId=145">立即购买</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="clear"></div>
<div class="footer_con">
    <div class="fnc_container">
        <div class="help-list">
            <div class="help-item">
                <h3>新手上路 </h3>
                <ul>
                    <li>
                        <a href="#" title="售后流程" target="_blank">售后流程</a>
                    </li>
                    <li>
                        <a href="#" title="购物流程" target="_blank">购物流程</a>
                    </li>
                    <li>
                        <a href="#" title="订购方式" target="_blank">订购方式</a>
                    </li>
                </ul>

            </div>
            <div class="help-item">
                <h3>配送与支付 </h3>
                <ul>
                    <li>
                        <a href="#" title="货到付款区域" target="_blank">货到付款区域</a>
                    </li>
                    <li>
                        <a href="#" title="配送支付智能查询 " target="_blank">配送支付智能查询</a>
                    </li>
                    <li>
                        <a href="#" title="支付方式说明" target="_blank">支付方式说明</a>
                    </li>
                </ul>

            </div>
            <div class="help-item">
                <h3>会员中心</h3>
                <ul>
                    <li>
                        <a href="#" title="资金管理" target="_blank">资金管理</a>
                    </li>
                    <li>
                        <a href="#" title="我的收藏" target="_blank">我的收藏</a>
                    </li>
                    <li>
                        <a href="#" title="我的订单" target="_blank">我的订单</a>
                    </li>
                </ul>

            </div>
            <div class="help-item">
                <h3>服务保证 </h3>
                <ul>
                    <li>
                        <a href="#" title="退换货原则" target="_blank">退换货原则</a>
                    </li>
                    <li>
                        <a href="#" title="售后服务保证" target="_blank">售后服务保证</a>
                    </li>
                    <li>
                        <a href="#" title="产品质量保证 " target="_blank">产品质量保证</a>
                    </li>
                </ul>

            </div>
            <div class="help-item">
                <h3>联系我们 </h3>
                <ul>
                    <li>
                        <a href="#" title="网站故障报告" target="_blank">网站故障报告</a>
                    </li>
                    <li>
                        <a href="#" title="选机咨询 " target="_blank">选机咨询</a>
                    </li>
                    <li>
                        <a href="#" title="投诉与建议 " target="_blank">投诉与建议</a>
                    </li>
                </ul>
            </div>
            <div class="help-item">
                <h3>关注我们 </h3>
                <img src='/images/erweima.png'/>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 倒计时-->
<script>
    $(function () {
        fn()

        function fn() {
            if (window.ActiveXObject) {
                xmlHttpRequest = new ActiveXObject("microsoft.XMLHTTP");
            } else if (window.XMLHttpRequest) {
                xmlHttpRequest = new XMLHttpRequest();
            }

            xmlHttpRequest.open("HEAD", "http://seckill.gmall.com:8099/item/", true);
            xmlHttpRequest.send("");
            xmlHttpRequest.onreadystatechange = function () {
                if (xmlHttpRequest.readyState == 4) {
                    if (xmlHttpRequest.status == 200) {
                        var dateStr = xmlHttpRequest.getResponseHeader("Date");
                        var d = new Date(dateStr);
                        var h = d.getHours();
                        var m = d.getMinutes();
                        var s = d.getSeconds();
                        var days = d.getUTCDate();
                        var mouths = d.getUTCMonth() + 1;
                        var years = d.getUTCFullYear();
                        //alert(years + "/" + mouths + "/" + days + " " + h + ":" + m + ":" + s);
                        var timer = setInterval(function () {
                            var start = years + '/' + mouths + '/' + days + ' 8:00:00';
                            var StartTime = new Date(start);
                            var NowTime = new Date();
                            var day = NowTime.getDate();
                            var month = NowTime.getMonth() + 1;
                            var year = NowTime.getFullYear();
                            var tw = year + '/' + month + '/' + day + ' 10:00:00';
                            var ei = year + '/' + month + '/' + day + ' 12:00:00';
                            var tw1 = year + '/' + month + '/' + day + ' 14:00:00';
                            var ei1 = year + '/' + month + '/' + day + ' 16:00:00';
                            var las = year + '/' + month + '/' + day + ' 18:00:00';
                            tw = new Date(tw).getTime();
                            ei = new Date(ei).getTime();
                            tw1 = new Date(tw1).getTime();
                            ei1 = new Date(ei1).getTime();
                            las = new Date(las).getTime();
                            /*NowTime = new Date(NowTime).getTime();*/
                            var EndTime = '';
                            console.log(NowTime + '<-现在--开始-->' + StartTime);
                            if (NowTime < StartTime) {
                                console.log(NowTime + '<-距离8:00活动开始-->' + StartTime);
                                EndTime = StartTime;
                                $(".content").html("距离8:00活动开始");
                                $("#li8").addClass('curr').siblings().removeClass('curr');
                            } else {
                                if (NowTime < tw) {
                                    console.log(NowTime + '<-距离8:00活动结束剩余-->' + tw);
                                    EndTime = tw;
                                    $(".content").html("距离8:00活动结束剩余");
                                    $("#li8").addClass('curr').siblings().removeClass('curr');
                                } else if (NowTime >= tw && NowTime < ei) {
                                    console.log(NowTime + '<--距离10:00活动结束剩余->' + ei);
                                    EndTime = ei;
                                    $(".content").html("距离10:00活动结束剩余");
                                    $("#li10").addClass('curr').siblings().removeClass('curr');
                                } else if (NowTime >= ei && NowTime < tw1) {
                                    console.log(NowTime + '<--距离12:00活动结束剩余->' + tw1);
                                    EndTime = tw1;
                                    $(".content").html("距离12:00活动结束剩余");
                                    $("#li12").addClass('curr').siblings().removeClass('curr');
                                } else if (NowTime >= tw1 && NowTime < ei1) {
                                    console.log(NowTime + '<-距离14:00活动结束剩余-->' + ei1);
                                    EndTime = ei1;
                                    $(".content").html("距离14:00活动结束剩余");
                                    $("#li14").addClass('curr').siblings().removeClass('curr');
                                } else if (NowTime >= ei1 && NowTime < las) {
                                    console.log(NowTime + '<--距离16:00活动结束剩余->' + las);
                                    EndTime = las;
                                    $(".content").html("距离16:00活动结束剩余");
                                    $("#li16").addClass('curr').siblings().removeClass('curr');
                                } else if (NowTime >= las) {
                                    EndTime = tw + 24 * 60 * 60 * 1000;
                                    console.log(NowTime + '<--距离8:00活动开始剩余->' + las + '-->' + EndTime);
                                   /* $(".content").html("距离8:00活动开始剩余");*/
                                    $(".content").html("距离08:00活动开始剩余");
                                    $("#li8").addClass('curr').siblings().removeClass('curr');
                                }
                            }
                            /*console.log(EndTime)*/
                            var t = EndTime - NowTime;
                            if (t < 1000) {
                                window.location.reload();
                                clearInterval(timer);
                                timer = null;
                                return false;
                            }
                            var d = 0;
                            var h = 0;
                            var m = 0;
                            var s = 0;
                            if (t >= 0) {
                                d = Math.floor((t / 1000 / 3600) / 24);
                                h = Math.floor((t / 1000 / 3600) % 24);
                                m = Math.floor((t / 1000 / 60) % 60);
                                s = Math.floor(t / 1000 % 60);
                                if (d < 10) {
                                    d = "0" + d;
                                }
                                if (h < 10) {
                                    h = "0" + h;
                                }
                                if (m < 10) {
                                    m = "0" + m;
                                }
                                if (s < 10) {
                                    s = "0" + s;
                                }
                                $('.botHours').html(h);
                                $('.botMIn').html(m);
                                $('.botSecond').html(s);
                            }
                        }, 1000)
                    }
                }
            }
        }
    });
</script>
<script type="text/javascript">
    function search() {
        var keyword = $("#searchText").val()
        window.location.href = "http://search.gmall.com:8094/list.html?keyword=" + keyword;
    }
</script>
<script>
    /*function executeKill() {
        $.ajax({
            type: "POST",
            url: "http://localhost:8099/item/kill/execute",
            //contentType: "application/json;charset=utf-8",
            data: $('#seckillForm').serialize(),//JSON.stringify(getJsonData()),
            //dataType: "json",

            //type: "POST",
            //url: "http://localhost:8091/addAddress",
            //data: $('#theForm').serialize(),
            async: false,

            success: function(res){
                if (res.code==0) {
                    //alert(res.msg);
                    window.location.href="http://localhost:8099/item/kill/execute/success";
                }else{
                    //alert(res.msg);
                    window.location.href="http://localhost:8099/item/kill/execute/fail";
                }
            },
            error: function (data) {
                alert(data+"提交数据失败！");
                return;
            }
        });
    }*/

    /*function getJsonData() {
        var killId=$("#killId").val();
        var userId=$("#userId").val();
        //alert(killId);
        var dataa = {
            "killId":killId,
            "userId":userId
        };
        /!*var data = {
            "killId":killId
        };*!/
        //alert(dataa);
        alert(JSON.stringify(dataa));
        return JSON.stringify(dataa);
    }*/
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var showproduct = {
            "boxid": "showbox",
            "sumid": "showsum",
            "boxw": 400, //宽度,该版本中请把宽高填写成一样
            "boxh": 400, //高度,该版本中请把宽高填写成一样
            "sumw": 60, //列表每个宽度,该版本中请把宽高填写成一样
            "sumh": 60, //列表每个高度,该版本中请把宽高填写成一样
            "sumi": 7, //列表间隔
            "sums": 5, //列表显示个数
            "sumsel": "sel",
            "sumborder": 1, //列表边框，没有边框填写0，边框在css中修改
            "lastid": "showlast",
            "nextid": "shownext"
        };
        $.ljsGlasses.pcGlasses(showproduct); //方法调用，务必在加载完后执行
    });
</script>
<style>
    .search {
        margin-top: 6px;
    }

    .dsc-search .search-text {
        height: 34px;
    }

    .city-choice {
        float: left;
    }

    .city-choice .dsc-cm {
        position: static;
        border: none;
        height: 28px;
        line-height: 28px;
        z-index: 1;
    }
</style>
<script>
    $('.li_dorpdown').hover(function () {
        $('.dorpdown-layer').show();
    });
    $('.li_dorpdown').mouseleave(function () {
        $('.dorpdown-layer').hide();
    });
    $('.icon-close').click(function () {
        $('.top_banner').hide();
    });
    $('.cate-layer-right-slide img').mouseenter(function () {

        $(this).delay('300').animate(300);
    });
    $('.cate-layer-right-slide img').mouseleave(function () {
        $(this).css('border', 'none')
    });
    //alert($('.buy_num').val());
    $('.btn_add').click(function () {
        var index = $('.buy_num').val();
        index++;
        $('.buy_num').val(index++);
    });
    $('.regular_list li').click(function () {
        $(this).parent().children('li').removeClass('regular_sort');
        $(this).addClass('regular_sort');
    });
    $('.btn_reduce').click(function () {
        var index = $('.buy_num').val();
        if (index > 1) {
            index--;
            $('.buy_num').val(index--);
        }
    });
    //		$('.categorys-type').mouseenter(function(){
    //			$('.categorys-tab-content').show();
    //		});
    //		$('.categorys-type').mouseleave(function(){
    //			$('.categorys-tab-content').hide();
    //		});
</script>
<script>
    $('.search').kuCity();
</script>
<!--滚动展示-->
<script type="text/javascript">
    $(".closehd").click(function () { //右下角红包图标点击变小
        $(this).hide();
        $('.bk_foot_redbag a').animate({
            width: '80px',
            height: '100px'
        });
    });
    $('#red_bag').click(function () {
        $(this).hide();
        $('.closehd').hide();
        $('.font').show();
        $('.font').css('display', 'inline-block')
        $('.red_bag').animate({
            width: '400px',
            height: '300px'
        });
    });
    $('#ensure').click(function () {
        $('.red_bag').fadeOut();
    });
</script>
<script>
    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery,
            layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            setTop: function () {
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    ,
                    title: '温馨提示',
                    area: ['390px', '260px'],
                    shade: 0,
                    maxmin: true,
                    offset: [ //为了演示，随机坐标
                        Math.random() * ($(window).height() - 300), Math.random() * ($(window).width() - 390)
                    ],
                    content: '/base/success',
                    btn: ['继续购物'],
                    btn2: function () {
                        layer.closeAll();
                    },
                    zIndex: layer.zIndex,
                    success: function (layero) {
                        layer.setTop(layero); //重点2
                    }
                });
            },
            confirmTrans: function () {
                //配置一个透明的询问框
                layer.msg('大部分参数都是可以公用的<br>合理搭配，展示不一样的风格', {
                    time: 20000, //20s后自动关闭
                    btn: ['明白了', '知道了', '哦']
                });
            },
            notice: function () {
                //示范一个公告层
                layer.open({
                    type: 1,
                    title: false //不显示标题栏
                    ,
                    closeBtn: false,
                    area: '300px;',
                    shade: 0.8,
                    id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,
                    btn: ['火速围观', '残忍拒绝'],
                    btnAlign: 'c',
                    moveType: 1 //拖拽模式，0或者1
                    ,
                    content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>',
                    success: function (layero) {
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').attr({
                            href: 'http://www.layui.com/',
                            target: '_blank'
                        });
                    }
                });
            }
        };

        $('.business').on('click', function () {
            var othis = $(this),
                method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });
</script>

</html>