<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

循环
<p th:each="str:${strr}" th:text="${str}"></p>
<p th:each="str:${strr}">
    <input th:text="${str}" th:value="${str}"/>
</p>

判断
<p>我是存在的</p>
<p th:if="1==2">我是存在的</p>
<input type="checkbox" th:text="(${check}=='1')?'选中':'不选中'" th:checked="${check}==1"/>

<!--传值给javascript -->
<a th:href="'javascript:a(\''+${hello}+'\')'">点我</a>
<a href="javascript:a('123')">点我</a>
<script language="JavaScript">
    function a(hello) {
        alert("a()函数被调用:" + hello);
    }
</script>
<div th:include="inner::innerpart"></div>

</body>
</html>