<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>我的地址</title>
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<!--<link rel="stylesheet" href="../css/carts.css" />-->
		<!--<link rel="stylesheet" href="../css/slide.css" />-->
		<style>
			.dsc-search {
				float: right;
				margin: 16px 120px 0 78px;
				width: 546px;
				position: relative;
			}
		</style>
	</head>

	<body>
	<div class="site-nav" id="site-nav">
		<div class="w w1200">
			<div class="fl">
				<div class="city-choice" id="city-choice" data-ectype="dorpdown">
					<div class="dsc-choie dsc-cm" ectype="dsc-choie">
						<img src="../images/place.png" class="place" />
						<input type="text" value="北京" class="search" />
					</div>

				</div>
				<div class="txt-info" th:if="${#httpServletRequest.getAttribute('memberId')}==null">
					<a href="http://passport.gmall.com:8096/index" class="link-login red">请登录</a>
					<a href="http://passport.gmall.com:8096/toregister" class="link-regist">免费注册</a>
				</div>
                <div class="txt-info" th:if="${#httpServletRequest.getAttribute('memberId')}!=null">
                    <a href="" class="link-login red" th:text="'欢迎,'+${#httpServletRequest.getAttribute('nickname')}"></a>
                    <a href="http://user.gmall.com:8091/userInfo" class="link-regist">我的账号</a>
                </div>
			</div>
			<ul class="quick-menu fr">
				<li>
					<div class="dt">
						<a href="http://order.gmall.com:8097/orderList">我的订单</a>
					</div>
				</li>
				<li class="spacer"></li>
				<li>
					<div class="dt">
						<a href="#">我的浏览</a>
					</div>
				</li>
				<li class="spacer"></li>
				<li>
					<div class="dt">
						<a href="#">我的收藏</a>
					</div>
				</li>
				<li class="spacer"></li>
				<li>
					<div class="dt">
						<a href="#">客户服务</a>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="li_dorpdown" data-ectype="dorpdown">
					<div class="dt dsc-cm">网站导航</div>
					<div class="dd dorpdown-layer" style="z-index: 10000000;">
						<dl class="fore1">
							<dt>特色主题</dt>
							<dd>
								<div class="item">
									<a href="#" target="_blank">家用电器</a>
								</div>
								<div class="item">
									<a href="#" target="_blank">手机数码</a>
								</div>
								<div class="item">
									<a href="#" target="_blank">电脑办公</a>
								</div>
							</dd>
						</dl>
						<dl class="fore2">
							<dt>促销活动</dt>
							<dd>
								<div class="item">
									<a href="#">拍卖活动</a>
								</div>
								<div class="item">
									<a href="#">共创商品</a>
								</div>
								<div class="item">
									<a href="#">优惠活动</a>
								</div>
								<div class="item">
									<a href="#">批发市场</a>
								</div>
								<div class="item">
									<a href="#">超值礼包</a>
								</div>
								<div class="item">
									<a href="#">优惠券</a>
								</div>
							</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
	<div class="header">
		<div class="header_container">
			<div class="logo fl">
				<a href="http://search.gmall.com:8094/index"><img src="../image/logo_top4.jpg" /></a>
				<a href="http://search.gmall.com:8094/index"><img src="../images/ecsc-join.gif" /></a>
			</div>
			<div class="dsc-search">
				<div class="form">
					<form class="search-form">
						<input name="keywords" type="text" id="searchText" value="" class="search-text" style="color: rgb(153, 153, 153);">
						<button type="submit" class="button button-goods" onclick="search()">搜商品</button>
						<button type="submit" class="button button-store" onclick="search()">搜店铺</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="nav" ectype="dscNav">
		<div class="w w1200">
			<div class="categorys" style="text-align: center;margin-top: 7px;">
				<a href="http://search.gmall.com:8094/index"><img src="../images/skmu-nav.png" /></a>
			</div>
			<div class="nav-main" id="nav">
				<ul class="navitems">
					<!--闪购 秒杀   男鞋 女鞋 潮鞋 定制               联名   系列    男童鞋  女童鞋-->
					<li>
						<a href="#">闪购</a>
					</li>
					<li>
						<a href="http://seckill.gmall.com:8099/item/index">秒杀</a>
					</li>
					<li>
						<a href="#">男鞋</a>
					</li>
					<li>
						<a href="#">女鞋</a>
					</li>
					<li>
						<a href="#">潮鞋</a>
					</li>
					<li>
						<a href="#">定制</a>
					</li>
					<li>
						<a href="#">联名</a>
					</li>
					<li>
						<a href="#">系列</a>
					</li>
					<li>
						<a href="#">男童鞋</a>
					</li>
					<li>
						<a href="#">女童鞋</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
		<div class="clear"></div>
		<div class="w1200_container">
			<div class="address_c">
				<div class="address_top">
					<h3>收货人信息</h3>
					<a href="#">管理收货信息</a>
				</div>
				<div class="address_icon clear ">
					<i><img src="images/place1.png"/></i>
					<br />
					<span><a class="open_new">    </a></span>
					<div class="open_new">
						<button class="open_btn">添加新地址</button>
					</div>
				</div>
				<div class="new_address hide">
					<div class="model_bg">
						<div class="my_model">
							<div class="add_address_con">
								<div class="add_address_hd">
									<span>新增收货人地址</span>
									<a href="#" class="add_add_clo fr">X</a>
								</div>
								<div class="pb_bd">
									<div class="pb_ct">
										<div class="user_form foreg_form">
											<!--private String id;
                                    private String memberId;
                                    private String  name;
                                    private String  phoneNumber;
                                    private int defaultStatus;
                                    private String postCode;
                                    private String province;
                                    private String city;
                                    private String region;
                                    private String detailAddress;-->
											<form action="http://user.gmall.com:8091/addAddress" method="post" name="theForm" id="theForm" class="user_form">
												<div class="form_row">
													<div class="form_label"><span class="red">*</span>收货人：</div>
													<div class="form_value">
														<input type="text" class="form_input" value="" maxlength="20" name="name" id="consignee_name">
														<span class="status error hide">请您填写收货人姓名</span>
													</div>
												</div>
												<div class="form_row">
													<div class="form_label"><span class="red">*</span>手机号码：</div>
													<div class="form_value">
														<input type="text" class="form_input" maxlength="11" name="phoneNumber" value="" id="consignee_mobile">
														<span class="status error hide">请您填写收货人联系方式</span>
													</div>
												</div>

												<div class="form_row">
													<div class="form_label form_label_lh"><span class="red">*</span>所在地区：</div>
													<div class="form_value" ectype="regionLinkage">
														<div class="address">
															<span class="queren hide"><span class="red">*</span> <label> 所在地区：</label></span>
															<select name="province" class="province"></select><label>&nbsp;省 &nbsp;</label>
															<select name="city" class="city"></select><label>&nbsp;市 &nbsp;</label>
															<select name="area" class="area"></select><label>&nbsp;县/区</label>
														</div>
													</div>
												</div>
												<div class="form_row">
													<div class="form_label"><span class="red">*</span>详细信息：</div>
													<div class="form_value">
														<input type="text" class="form_input form_input_long" name="detailAddress" value="" id="consignee_address">
														<span class="status error hide">请您填写收货详细地址</span>
													</div>
												</div>
												<div class="form_row">
													<div class="form_label">邮编：</div>
													<div class="form_value">
														<input type="text" class="form_input" name="postCode" value="" id="consignee_zipcode">
														<span class="status error"></span>
													</div>
												</div>
												<!--<div class="form_row">
                                                    <div class="form_label">邮箱：</div>
                                                    <div class="form_value">
                                                        <input type="text" class="form_input" name="email" value="" id="consignee_email">
                                                        <span id="emailNote" class="status error hide">请您填写邮箱</span>
                                                    </div>
                                                </div>-->

												<!--<div class="form_row">
                                                    <div class="form_label">地址别名：</div>
                                                    <div class="form_value"><input type="text" class="form_input fl" value="" name="sign_building" id="consignee_sign_building">
                                                        <div class="notic">设置一个易记的名称，如：'送到家里'、'送到公司'&nbsp;&nbsp;</div>
                                                    </div>
                                                    <span id="consigneeAliasNote" class="status error hide">请您填写地址别名</span>
                                                </div>-->
												<!--<input name="goods_flow_type" value="101" type="hidden">
                                                <input name="address_id" value="" type="hidden">-->
												<input type="hidden" th:name="memberId" th:value="${memberId}">
												<!--<button type="submit" class="pb_btn pb_ok" id="submitAddress">保存收货人信息</button>-->
											</form>
										</div>
									</div>
									<div class="tip_box icon_box">
										<div class="pb_ft">
											<a class="pb_btn pb_ok" onclick="addAddress()">保存收货人信息</a><!--onclick="addAddress()"-->
											<a class="pb_btn pb_cl">取消</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div id="addresstInner" th:include="index"></div>
		</div>
		<div class="clear"></div>
		<!--底部-->
		<div class="footer_con">
			<div class="fnc_container">
				<div class="help-list">
					<div class="help-item">
						<h3>新手上路 </h3>
						<ul>
							<li>
								<a href="#" title="售后流程" target="_blank">售后流程</a>
							</li>
							<li>
								<a href="#" title="购物流程" target="_blank">购物流程</a>
							</li>
							<li>
								<a href="#" title="订购方式" target="_blank">订购方式</a>
							</li>
						</ul>

					</div>
					<div class="help-item">
						<h3>配送与支付 </h3>
						<ul>
							<li>
								<a href="#" title="货到付款区域" target="_blank">货到付款区域</a>
							</li>
							<li>
								<a href="#" title="配送支付智能查询 " target="_blank">配送支付智能查询</a>
							</li>
							<li>
								<a href="#" title="支付方式说明" target="_blank">支付方式说明</a>
							</li>
						</ul>

					</div>
					<div class="help-item">
						<h3>会员中心</h3>
						<ul>
							<li>
								<a href="#" title="资金管理" target="_blank">资金管理</a>
							</li>
							<li>
								<a href="#" title="我的收藏" target="_blank">我的收藏</a>
							</li>
							<li>
								<a href="#" title="我的订单" target="_blank">我的订单</a>
							</li>
						</ul>

					</div>
					<div class="help-item">
						<h3>服务保证 </h3>
						<ul>
							<li>
								<a href="#" title="退换货原则" target="_blank">退换货原则</a>
							</li>
							<li>
								<a href="#" title="售后服务保证" target="_blank">售后服务保证</a>
							</li>
							<li>
								<a href="#" title="产品质量保证 " target="_blank">产品质量保证</a>
							</li>
						</ul>

					</div>
					<div class="help-item">
						<h3>联系我们 </h3>
						<ul>
							<li>
								<a href="#" title="网站故障报告" target="_blank">网站故障报告</a>
							</li>
							<li>
								<a href="#" title="选机咨询 " target="_blank">选机咨询</a>
							</li>
							<li>
								<a href="#" title="投诉与建议 " target="_blank">投诉与建议</a>
							</li>
						</ul>
					</div>
					<div class="help-item">
						<h3>关注我们 </h3>
						<img src='images/erweima.png' />
					</div>

				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/kuCity.js"></script>
	<script type="text/javascript" src="../js/carts.js"></script>
	<script type="text/javascript" src="../js/jquery.SuperSlide.js"></script>
	<script type="text/javascript" src="../js/slide.js"></script>
	<script src="../js/PCASClass.js"></script>
	<script>
		$('.li_dorpdown').hover(function() {
			$('.dorpdown-layer').show();
		});
		$('.li_dorpdown').mouseleave(function() {
			$('.dorpdown-layer').hide();
		});
		$('.icon-close').click(function() {
			$('.top_banner').hide();
		});
		$('.my_center_box_left a').hover(function() {

		});
		$('.cate-layer-right-slide img').mouseenter(function() {

			$(this).delay('300').animate(300);
		});
		$('.cate-layer-right-slide img').mouseleave(function() {
			$(this).css('border', 'none')
		});
		$('.address_icon').click(function(){
			$('.new_address').show();
		});
		$('.add_add_clo').click(function(){
			$('.new_address').fadeOut();
		});
		$('.pb_cl').click(function(){
			$('.new_address').fadeOut();
		});
	</script>
	<script>
		$('.manage_address_icon').click(function(){
			//alert("11111");
			$('.manage_address').show();
		});
		$('.manage_manage_clo').click(function(){
			$('.manage_address').fadeOut();
		});
		$('.manage_pb_cl').click(function(){
			$('.manage_address').fadeOut();
		});
	</script>
	<script>
		$('.search').kuCity();
		new PCAS("province", "city", "area", "", " ", " ");
	</script>

	<script type="text/javascript">
		function search() {
			var keyword = $("#searchText").val()
			window.location.href = "http://search.gmall.com:8094/list.html?keyword=" + keyword;
		}
	</script>
</html>